.sidebar {
    background-color: #333;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
    position: fixed;
    box-shadow: 1px 1px 10px 1px #00000094;
    z-index: 10;
}

.sidebar.collapsed {
    width: 50px;
}

.sidebar.expanded {
    width: 200px;
}

.caixaLogo{
    padding: 15px;
    display: flex; 
    align-items: center;
    gap: 1.5px;
}

.logo{
    height: 14px;
}

.restoLogo{
    font-family: var(--font-logo);
}

.toggleBtn {
    color: var(--white);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
}

.toggleBtn:hover {
    background: #555;
}

.toggleBtn:active {
    background: #555555a2;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.menu a, .menu button {
    color: var(--white);
    background-color: transparent;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}

.menu a:hover, .menu button:hover {
    background: #555;   
}

.menu a:active, .menu button:active {
    background: #555555a2;  
}

.menu a span, .menu button span {
    margin-left: 15px;
    white-space: nowrap;
}

/* Card de configurações */
.settingsCard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    z-index: 1000;
}

.cardContent {
    background: #474747;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cardContent h2 {
    margin-bottom: 10px;
}

.cardContent button {
    margin-top: 15px;
    background-color: var(--color1);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cardContent button:hover {
    background-color: #005fc5;
}
  
